<footer class="footer">
    <div class="footer-top">
      <div class="container">
        <ul class="footer__list">
          <li class="footer__link">
            2021 &copy; Все права защищены
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Политика приватности</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Условия использования сайта</a>
          </li>
          <li class="footer__item">
            <a class="footer__link" href="#">Условия продажи</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="container">
        <div class="footer__inner">
          <div class="social__row">
            <a href="#" class="social__item">
              <svg class="social__icon">
                <use xlink:href="#instagram"></use>
              </svg>
            </a>
            <a href="#" class="social__item">
              <svg class="social__icon">
                <use xlink:href="#facebook"></use>
              </svg>
            </a>
            <a href="#" class="social__item">
              <svg class="social__icon">
                <use xlink:href="#pinterest"></use>
              </svg>
            </a>
          </div>

          <a class="logo" href="#">
            <img class="logo__img" src="./img/logo.svg" alt="logo" />
          </a>

          <div class="payments">
            <div class="payment__item">
              <img class="payment__img" src="./img/footer/visa_img.svg" alt="visa">
            </div>
            <div class="payment__item">
              <img class="payment__img" src="./img/footer/master_card.svg" alt="master-card">
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
