<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="header-left">
        <div class="header__row-select">
          <div class="header__select">
            <span class="header__select-name">
              Ваша страна
              <svg class="select__arrow">
                <use xlink:href="#arrow-down"></use>
              </svg>
            </span>
          </div>
          <div class="header__select">
            <span class="header__select-name">
              RU
              <svg class="select__arrow">
                <use xlink:href="#arrow-down"></use>
              </svg>
            </span>
          </div>
        </div>
        <div class="header__select">
          <img
            class="messanger"
            src="./img/header/messanger.svg"
            alt="messanger"
          />
        </div>
        <a class="number" href="tel:380661164001">
          <span class="number__item">+38 066 116 40 01</span>
          <img class="number__icon" src="./img/header/telephone_icon.svg" alt="number" >
        </a>
      </div>

      <a class="logo" href="#">
        <img class="logo__img" src="./img/logo.svg" alt="logo" />
      </a>

      <div class="header-right">
        <div class="social__row">
          <a href="#" class="social__item">
            <svg class="social__icon">
              <use xlink:href="#instagram"></use>
            </svg>
          </a>
          <a href="#" class="social__item">
            <svg class="social__icon">
              <use xlink:href="#facebook"></use>
            </svg>
          </a>
          <a href="#" class="social__item">
            <svg class="social__icon">
              <use xlink:href="#pinterest"></use>
            </svg>
          </a>
        </div>
        <img class="suitcase" src="./img/header/suitcase.svg" alt="suitcase" />
        <button class="burger__menu"></button>
      </div>
    </div>
  </div>
</header>
