<div class="menu__modal">
  <div class="menu__body">
    <div class="menu__column">
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">О компании</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Каталог</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Новости HAVE A REST</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Гарантии и возврат товара</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Доставка и оплата</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">FAQ</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>