.yellow{
  background-color: #F5E612;
}

.red{
  background-color: #BD2841;
}

.pink{
  background-color: #EEC7CB;
}

.turquoise{
  background-color: #B3DBDB;
}

.dark-grey{
  background-color: #474747;
}